div.avatar {
    height: 90px;
    width: 90px;
    position: fixed
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

img.pequeña{
  width: 30px; height: 30px;
  position: relative;
}